:host{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  column-gap: 4px;

  .icon {
    display: flex;
  }
    &:hover {
      background-color: transparent;
    }
}

.dropdown-toggle {
  width: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width: 992px) {
    width: 100%;
    justify-content: center;
  }
}

.btn-group {
  @media screen and (max-width: 992px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown-menu {
    width: 100%;

    &.show {
      @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }
  }
}
